p::first-line{
    color: blueviolet;
}

p::first-letter{
    color: chocolate;
}

p::before{
    /* content: url('https://media.tenor.com/_RMTtgwjvEIAAAAM/bobby-lolololol.gif'); */
    float: left;
    /* overflow: auto; */
}
p::after{
    /* content: url('https://media.tenor.com/QEcVxe9j_zEAAAAM/gurmeet-ram-rahim-gurmeet-ram-rahim-singh.gif'); */
    float: right;
}

ol > li:nth-child(2)::marker{
    color: red;
}

/* selection */
p::selection{
    color: white;
    background-color: purple;
}
/* opacity 0 - 1>> 0.5 >> 0.2 0.3 */
p{
    opacity: 0.5;
}

.btn{
    padding: 10px;
    color: white;
    font-size: 20px;
    background-color: purple;
    box-shadow: none;
    outline: none;
    border:none;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

div{
    display: flex;
    padding: 0px 10px;
    gap: 10px;
}
.btn:hover{
    font-size: 15px;
    opacity: 0.5;
}